body {
    display: flex;
    margin: auto;
    flex-direction: column;
    min-height: 100vh;
    background-color: #efefef;
    font-family: 'Newsreader', serif;
    max-width: 750px;
}

main {
    flex: 2;
}

section {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 50px auto;
}
